@@include('_index.html')
<div class="site">
  <div id="site-content">
  </div>
  <div class="mob-menu flex" id="mob-menu">
    <div class="mob-menu-btn flex-grow-1 flex flex-center color4">
      <p>CONTACT</p>
    </div>
    <div class="mob-menu-btn flex-grow-1 flex flex-center  color1">
      <p>MUSIC</p>
    </div>
    <div class="mob-menu-btn flex-grow-1 flex flex-center  color2">
      <p>GRAPHICS</p>
    </div>
    <div class="mob-menu-btn flex-grow-1 flex flex-center  color3">
      <p>CODE</p>
    </div>
  </div>
</div>
@@include('_footer.html')
